@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");
.container, .filling, .section-clients, .what-we-do, .about-card, .header__container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  margin: 0px;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  padding-top: 25px;
  padding-bottom: 24px;
  border: 1px solid #d3d3d3;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
}

.blue-logo {
  color: #2196F3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.78px;
}

.dark-logo {
  color: #212121;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.78px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.nav .list__link {
  color: #212121;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav .list__link:hover {
  color: #2196F3;
  font-size: 14px;
  letter-spacing: 0.28px;
}
.nav .list .active {
  color: #2196F3;
}
.nav .list .active::after {
  content: "";
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  height: 4px;
  left: 0;
  top: 43px;
  width: 100%;
}

.contact__list {
  display: flex;
  margin-left: auto;
  gap: 60px;
}

.header-list .header-list__left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
  fill: #757575;
  transition: all 0.3s ease;
  letter-spacing: 0.28px;
  font-size: 14px;
  font-weight: 500;
}
.header-list .header-list__left svg {
  width: 16px;
  height: 12px;
}
.header-list .header-list__left:hover svg, .header-list .header-list__left:focus svg {
  fill: #2196F3;
}
.header-list .header-list__left:hover, .header-list .header-list__left:focus {
  color: #2196F3;
}
.header-list .header-list__right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
  fill: #757575;
  transition: all 0.3s ease;
  letter-spacing: 0.28px;
  font-size: 14px;
  font-weight: 500;
}
.header-list .header-list__right svg {
  width: 10px;
  height: 17px;
}
.header-list .header-list__right:hover svg, .header-list .header-list__right:focus svg {
  fill: #2196F3;
}
.header-list .header-list__right:hover, .header-list .header-list__right:focus {
  color: #2196F3;
}

.solution-for-business {
  background: #2F303A;
  position: relative;
  padding: 200px 0px;
  z-index: 0;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_solution.jpg);
}
.solution-for-business__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 5;
}
.solution-for-business__title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.solution-for-business__button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 10px 24px;
}

.about-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
}
.about-card__item {
  max-width: 270px;
}
.about-card__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-card__subtitle {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.about-card__phbox {
  background: #F5F4FA;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  padding: 25px 100px;
}
.about-card__photo {
  width: 70px;
  height: 70px;
}

.what-we-do {
  padding-bottom: 94px;
}
.what-we-do__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.what-we-do__lower-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1;
}
.what-we-do__img {
  max-width: 370px;
  height: auto;
}
.what-we-do__item {
  position: relative;
}
.what-we-do__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: fff;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
}

.our-team {
  background: #F5F4FA;
  color: #212121;
}
.our-team .our_team__container {
  padding: 30px;
}
.our-team__lower {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.our-team__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.our-team__item {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.our-team__name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.our-team__job {
  color: #757575;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.our-team__card-link {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.our-team__card-link-picture {
  width: 44px;
  height: 44px;
  transition: 300ms;
  display: inline-block;
  border-radius: 50%;
  padding: 12px 12px;
  transition: color 0, 3s ease;
  fill: #afb1b8;
}
.our-team__card-link-picture:hover, .our-team__card-link-picture:focus {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #fff;
}
.our-team .card-link-button {
  width: 20px;
  height: 20px;
}

.section-clients__clients-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  font-weight: 700;
  word-wrap: break-word;
  color: #212121;
}
.section-clients__clients-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.section-clients__clients-list-item {
  width: 170px;
  height: 92px;
}
.section-clients__clients-action {
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  transition: border-color 0.3s;
}
.section-clients__clients-action:hover, .section-clients__clients-action:focus {
  border-radius: 4px;
  border: 1px solid #2196F3;
  fill: #2196F3;
}
.section-clients__clients-svg {
  width: 106px;
  height: 60px;
  transition: fill 0.3s ease;
  position: relative;
}

.main__button {
  background: #F5F4FA;
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: all 0.3s ease;
}
.main__button:hover, .main__button:focus {
  border-radius: 4px;
  background: #2196F3;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.on__focus:focus {
  border-radius: 4px;
  background: #2196F3;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.main_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}
.main__button {
  padding: 6px 22px 6px 22px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.6em;
  color: #212121;
  text-align: center;
  letter-spacing: 0.48px;
}
.main__button:hover {
  border-radius: 4px;
  background: #2196F3;
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filling__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.filling_box {
  padding: 20px 24px;
}
.filling__link:focus .filling__effect {
  transform: translateY(0);
  padding: 63px 24px;
}
.filling__item {
  display: inline-block;
  border: 1px solid #EEE;
  max-width: 370px;
}
.filling__item:hover, .filling__item:focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transform: translateY(0);
}
.filling__item:hover .filling__effect {
  transform: translateY(0);
  padding: 63px 24px;
}
.filling__link {
  display: inline-block;
}
.filling__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  color: #212121;
  margin-bottom: 4px;
}
.filling__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  color: #757575;
}
.filling__effect {
  transition: transform 250ms ease;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
.filling__effect:hover, .filling__effect:focus {
  transform: translateY(0);
}
.filling__effect p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.54px;
}

.effect_container {
  position: relative;
  overflow: hidden;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
  gap: 94px;
}
.footer__box {
  margin-left: 174px;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}
.footer .contact {
  display: flex;
  flex-direction: column;
}
.footer .list__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 114.286% */
  letter-spacing: 0.42px;
}
.footer .white-logo {
  color: #FFF;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.78px;
}
.footer .footer_list_disabled {
  color: #FFF;
}
.footer .footer_list__item:not(:last-child) {
  transition: color 0.3s ease;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14em;
  color: #FFF;
  letter-spacing: 0.42px;
  margin-bottom: 12px;
}
.footer .contact-social {
  max-width: 206px;
  max-height: 80px;
}
.footer .contact-social__title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .contact-social__card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .contact-social__card-link-picture {
  width: 44px;
  height: 44px;
  transition: 300ms;
  display: inline-block;
  border-radius: 50%;
  padding: 12px 12px;
  transition: color 0, 3s ease;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}
.footer .contact-social__card-link-picture:hover, .footer .contact-social__card-link-picture:focus {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #fff;
}
.footer .contact-social__card-link-button {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer .footer-subscribe__title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .footer-subscribe__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
}
.footer .wrapper-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
}
.footer .wrapper__button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.backdrop {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.close-box {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  width: 528px;
  height: 581px;
}
.modal__wrapper {
  padding: 40px;
}
.modal__wrapper-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__wrapper-button {
  display: block;
  padding: 10px 52px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  cursor: pointer;
}
.modal__wrapper-item {
  margin-bottom: 10px;
}
.modal__wrapper-item:hover, .modal__wrapper-item:focus {
  color: #2196F3;
}
.modal__wrapper-subtitle {
  display: block;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.modal__wrapper-container {
  position: relative;
}
.modal__wrapper-area {
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  padding: 12px 16px;
  transition: border-color 0.3s ease;
  font-family: Roboto;
  margin-bottom: 20px;
}
.modal__wrapper-area:hover, .modal__wrapper-area:focus {
  border-color: #2196F3;
  outline: none;
}
.modal .wrapper-container__input {
  width: 100%;
  padding: 11px 12px 11px 35px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 0.3s ease;
  color: #212121;
  font-family: "Roboto";
}
.modal .wrapper-container__input:hover, .modal .wrapper-container__input:focus {
  border-color: #2196F3;
  outline: none;
}
.modal .wrapper-container__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 16px;
  color: #212121;
  height: 15px;
}
.modal__wrapper-checkbox {
  position: relative;
  margin-bottom: 30px;
}
.modal .wrapper-checkbox__check {
  position: absolute;
  left: 10px;
  top: 10px;
}
.modal .wrapper-checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.38px;
  font-size: 14px;
  cursor: pointer;
}
.modal .wrapper-checkbox__icon-checkbox {
  border: none;
  fill: #FFF;
}
.modal .wrapper-checkbox__text {
  color: #757575;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  cursor: pointer;
}
.modal .wrapper-checkbox__text-blue {
  color: #2196F3;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal .hidden {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  margin-left: 18.4px;
  width: 20px;
  margin-top: 5.5px;
}

.btn_close {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  fill: #212121;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn_close:hover {
  background-color: #2196F3;
  fill: #fff;
}

.modal-icon {
  color: #fff;
  width: 18px;
  height: 18px;
}/*# sourceMappingURL=style.css.map */