@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");
.container, .section-clients, .what-we-do, .about-card, .header__container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  margin: 0px;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
section .container, section .section-clients, section .what-we-do, section .about-card, section .header__container {
  padding: 0 0;
}

.header {
  padding-top: 25px;
  padding-bottom: 24px;
  border: 1px solid #d3d3d3;
}
.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 720px) {
  .header__container {
    justify-content: space-between;
  }
}
.header__logo {
  margin-right: 93px;
}
@media (max-width: 990px) {
  .header__logo {
    justify-content: flex-end;
  }
}

.blue-logo {
  color: #2196F3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.78px;
}

.dark-logo {
  color: #212121;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.78px;
}

@media (max-width: 720px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.nav .list__link {
  color: #212121;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav .list__link:hover {
  color: #2196F3;
  font-size: 14px;
  letter-spacing: 0.28px;
}
.nav .list .active {
  color: #2196F3;
}
.nav .list .active::after {
  content: "";
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  height: 4px;
  left: 0;
  top: 43px;
  width: 100%;
}

.burger-button {
  flex-direction: column;
  padding: 20px 0;
  gap: 4px;
  display: none;
  position: relative;
  z-index: 10;
}
@media (max-width: 720px) {
  .burger-button {
    display: flex;
    background: #fff;
    margin-right: 10px;
    cursor: pointer;
  }
  .burger-button:hover, .burger-button:focus {
    color: #2196F3;
  }
}
.burger-button::before, .burger-button::after {
  content: "";
  transform: rotate(0);
  transform-origin: 1.5px 50%;
}
.burger-button__item, .burger-button::before, .burger-button::after {
  width: 24px;
  height: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background: #212121;
}
.burger-button_open .burger-button__item {
  opacity: 0;
}
.burger-button_open::after {
  transform: rotate(-45deg);
}
.burger-button_open::before {
  transform: rotate(45deg);
}

.menu-burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  top: 0;
  right: -100%;
  transition: right 0.3s;
  width: 100%;
  height: 100vh;
  z-index: 6;
  max-width: 700px;
  background: #FFF;
  display: none;
}
@media (max-width: 720px) {
  .menu-burger {
    display: hidden;
    height: 900px;
  }
}
.menu-burger_open {
  background: #fff;
  right: 0;
}
@media (max-width: 700px) {
  .menu-burger_open {
    display: flex;
  }
}
.menu-burger__body {
  margin-bottom: auto;
}
.menu-burger__list {
  margin-bottom: 306px;
}
.menu-burger__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-burger__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
  transition: color 0.3s;
}
.menu-burger__link:hover, .menu-burger__link:focus {
  color: #2196F3;
}

.contact-2 {
  display: inline-block;
  margin-bottom: 64px;
}
.contact-2__item:not(:last-child) {
  margin-bottom: 32px;
}
.contact-2__tel {
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.contact-2__email {
  color: #2196f3;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}

.social-list-2 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.social-list-2__item::before {
  content: "";
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
}
.social-list-2__item::after {
  content: "|";
  margin-left: 10px;
}
.social-list-2__link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}

@media (max-width: 720px) {
  .contact {
    display: none;
  }
}
@media (max-width: 1200px) {
  .contact {
    max-width: 160px;
  }
}
.contact__list {
  display: flex;
  margin-left: auto;
  gap: 60px;
}

@media (min-width: 721px) and (max-width: 900px) {
  .header-list {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 0px;
    max-width: 160px;
  }
}
.header-list .header-list__left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
  fill: #757575;
  transition: all 0.3s ease;
  letter-spacing: 0.28px;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 720px) {
  .header-list .header-list__left {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header-list .header-list__left {
    padding: 9px 0;
  }
}
.header-list .header-list__left svg {
  width: 16px;
  height: 12px;
}
.header-list .header-list__left:hover svg, .header-list .header-list__left:focus svg {
  fill: #2196F3;
}
.header-list .header-list__left:hover, .header-list .header-list__left:focus {
  color: #2196F3;
}
.header-list .header-list__right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
  fill: #757575;
  transition: all 0.3s ease;
  letter-spacing: 0.28px;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 720px) {
  .header-list .header-list__right {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header-list .header-list__right {
    padding: 9px 0;
  }
}
.header-list .header-list__right svg {
  width: 10px;
  height: 17px;
}
.header-list .header-list__right:hover svg, .header-list .header-list__right:focus svg {
  fill: #2196F3;
}
.header-list .header-list__right:hover, .header-list .header-list__right:focus {
  color: #2196F3;
}

.solution-for-business {
  background: #2F303A;
  position: relative;
  padding: 200px 0px;
  z-index: 0;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_solution.jpg);
}
.solution-for-business__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 5;
}
.solution-for-business__title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.solution-for-business__button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 10px 24px;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px 0 15px;
  overflow: hidden;
}

.about-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
  width: 100%;
}
@media (min-width: 765px) {
  .about-card {
    width: 738px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-content: center;
  }
}
@media (max-width: 765px) {
  .about-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.about-card__item {
  width: 100%;
}
@media (min-width: 765px) {
  .about-card__item {
    width: 354px;
  }
}
.about-card__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
@media (min-width: 765px) {
  .about-card__title {
    display: flex;
    justify-content: flex-start;
  }
}
.about-card__subtitle {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.about-card__phbox {
  background: #F5F4FA;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  padding: 25px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about-card__photo {
  width: 70px;
  height: 70px;
}

.what-we-do {
  padding-bottom: 94px;
}
@media (max-width: 1200px) {
  .what-we-do {
    display: none;
  }
}
.what-we-do__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.what-we-do__lower-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1;
}
.what-we-do__img {
  max-width: 370px;
  height: auto;
}
.what-we-do__item {
  position: relative;
}
.what-we-do__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: fff;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
}

.our-team {
  background: #F5F4FA;
  color: #212121;
}
.our-team .our_team__container {
  padding: 30px;
}
.our-team__lower {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .our-team__lower {
    max-width: 738px;
    margin: 0 auto;
  }
}
.our-team__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.our-team__item {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 765px) {
  .our-team__item {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .our-team__image {
    width: 450px;
  }
}
@media (min-width: 765px) {
  .our-team__image {
    width: 354px;
    height: 374px;
  }
}
.our-team__name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.our-team__job {
  color: #757575;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.our-team__card-link {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.our-team__card-link-picture {
  width: 44px;
  height: 44px;
  transition: 300ms;
  display: inline-block;
  border-radius: 50%;
  padding: 12px 12px;
  transition: color 0, 3s ease;
  fill: #afb1b8;
}
.our-team__card-link-picture:hover, .our-team__card-link-picture:focus {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #fff;
}
.our-team .card-link-button {
  width: 20px;
  height: 20px;
}

.section-clients__clients {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px 0 15px;
  overflow: hidden;
}
.section-clients__clients-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  font-weight: 700;
  word-wrap: break-word;
  color: #212121;
  margin-bottom: 50px;
}
.section-clients__clients-list {
  display: flex;
  gap: 24px;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .section-clients__clients-list {
    max-width: 738px;
    margin: 0 auto;
  }
}
.section-clients__clients-list-item {
  width: 170px;
  height: 92px;
}
@media (max-width: 1200px) {
  .section-clients__clients-list-item {
    width: 210px;
  }
}
.section-clients__clients-action {
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  transition: border-color 0.3s;
}
.section-clients__clients-action:hover, .section-clients__clients-action:focus {
  border-radius: 4px;
  border: 1px solid #2196F3;
  fill: #2196F3;
}
.section-clients__clients-svg {
  width: 106px;
  height: 60px;
  transition: fill 0.3s ease;
  position: relative;
}

.main__button {
  background: #F5F4FA;
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: all 0.3s ease;
}
.main__button:hover, .main__button:focus {
  border-radius: 4px;
  background: #2196F3;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.on__focus:focus {
  border-radius: 4px;
  background: #2196F3;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.main_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}
.main_filter {
  padding: 0 0;
}
.main__button {
  padding: 6px 22px 6px 22px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.6em;
  color: #212121;
  text-align: center;
  letter-spacing: 0.48px;
}
.main__button:hover {
  border-radius: 4px;
  background: #2196F3;
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filling__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.filling_box {
  padding: 20px 24px;
}
.filling__link:focus .filling__effect {
  transform: translateY(0);
  padding: 63px 24px;
}
.filling__item {
  display: inline-block;
  border: 1px solid #EEE;
  max-width: 370px;
}
@media (max-width: 1200px) and (min-width: 320px) {
  .filling__item {
    width: 354px;
  }
}
@media (max-width: 765px) and (min-width: 320px) {
  .filling__item {
    width: 100%;
    max-width: 450px;
  }
}
.filling__item:hover, .filling__item:focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transform: translateY(0);
}
.filling__item:hover .filling__effect {
  transform: translateY(0);
  padding: 63px 24px;
}
.filling__link {
  display: inline-block;
}
.filling__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  color: #212121;
  margin-bottom: 4px;
}
.filling__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  color: #757575;
}
.filling__effect {
  transition: transform 250ms ease;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
.filling__effect:hover, .filling__effect:focus {
  transform: translateY(0);
}
.filling__effect p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.54px;
}

.effect_container {
  position: relative;
  overflow: hidden;
}
@media (max-width: 765px) and (min-width: 320px) {
  .effect_container {
    width: 450px;
    max-width: 450px;
  }
}
@media (max-width: 765px) and (min-width: 320px) {
  .effect_container img {
    width: 100%;
    max-width: 450px;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.footer .footer_contact__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
@media (min-width: 1201px) {
  .footer__container {
    display: flex;
    flex-direction: row;
  }
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1201px) {
  .footer__box {
    align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .footer__box {
    align-items: center;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}
.footer .contact {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1201px) {
  .footer .list {
    align-items: flex-start;
  }
}
.footer .list__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 114.286% */
  letter-spacing: 0.42px;
}
.footer .white-logo {
  color: #FFF;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.78px;
}
.footer .footer_list_disabled {
  color: #FFF;
}
.footer .footer_list__item:not(:last-child) {
  transition: color 0.3s ease;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14em;
  color: #FFF;
  letter-spacing: 0.42px;
  margin-bottom: 12px;
}
.footer .contact-social {
  max-width: 206px;
  max-height: 80px;
}
.footer .contact-social__title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .footer .contact-social__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer .contact-social__card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .contact-social__card-link-picture {
  width: 44px;
  height: 44px;
  transition: 300ms;
  display: inline-block;
  border-radius: 50%;
  padding: 12px 12px;
  transition: color 0, 3s ease;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}
.footer .contact-social__card-link-picture:hover, .footer .contact-social__card-link-picture:focus {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #fff;
}
.footer .contact-social__card-link-button {
  width: 20px;
  height: 20px;
  fill: #fff;
}
@media (max-width: 1200px) {
  .footer .footer-subscribe {
    align-items: center;
    max-width: 450px;
  }
}
.footer .footer-subscribe__title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-subscribe__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
}
.footer .footer-subscribe__wrapper input {
  max-width: 450px;
}
@media (max-width: 1200px) {
  .footer .footer-subscribe__wrapper {
    flex-direction: column;
  }
}
.footer .wrapper-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
}
.footer .wrapper-input::-moz-placeholder {
  padding: 15px 16px;
}
.footer .wrapper-input::placeholder {
  padding: 15px 16px;
}
.footer .wrapper__button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 28px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.backdrop {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.close-box {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  width: 528px;
  height: 581px;
}
@media (max-width: 720px) {
  .modal {
    position: relative;
    top: 25%;
    left: 25%;
  }
}
.modal .modal-form {
  padding: 40px;
}
.modal .modal-form__wrapper {
  position: relative;
}
.modal .modal-form__wrapper_area {
  margin-bottom: 20px;
}
.modal .modal-form__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal .modal-form__item {
  color: #212121;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}
.modal .modal-form__item:focus-within, .modal .modal-form__item:hover {
  color: #2196F3;
}
.modal .modal-form__item::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.12px;
}
.modal .modal-form__item::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.12px;
}
.modal .modal-form__subtitle {
  display: block;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.modal .modal-form__input {
  width: 100%;
  padding: 11px 12px 11px 35px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 0.5s ease, outline 0.5s ease;
  color: #212121;
  font-family: "Roboto";
}
.modal .modal-form__input:hover, .modal .modal-form__input:focus {
  border-color: #2196F3;
  outline: none;
}
.modal .modal-form__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.12px;
}
.modal .modal-form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.12px;
}
.modal .modal-form input:hover + svg {
  fill: #2196F3;
}
.modal .modal-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 16px;
  height: 15px;
}
.modal .modal-form__icon_checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
}
.modal .modal-form__area {
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  padding: 12px 16px;
  transition: border-color 0.3s ease;
  font-family: Roboto;
}
.modal .modal-form__area:hover, .modal .modal-form__area:focus {
  border-color: #2196F3;
  outline: none;
}
.modal .modal-form__area::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal .modal-form__area::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal .modal-form__checkbox {
  position: relative;
  margin-bottom: 30px;
}
.modal .modal-form__check {
  position: absolute;
  left: 10px;
  top: 10px;
}
.modal .modal-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.38px;
  font-size: 14px;
  cursor: pointer;
}
.modal .modal-form__text {
  color: #757575;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  cursor: pointer;
}
.modal .modal-form__text_blue {
  color: #2196F3;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal .modal-form__button {
  display: block;
  padding: 10px 52px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
}
.modal__check:checked + .modal__label .content-form__icon_checkbox {
  background-color: #2196F3;
  border: none;
  fill: #fff;
}
.modal .hidden {
  position: absolute;
  overflow: hidden;
  top: 0.8px;
  zoom: 1.2;
  left: 14px;
}

.btn_close {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  fill: #212121;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn_close:hover {
  background-color: #2196F3;
  fill: #fff;
}

.modal-icon {
  color: #fff;
  width: 18px;
  height: 18px;
}/*# sourceMappingURL=style.css.map */