@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");
.container {
    max-width: 1200px;
    margin: 0px auto;
	padding: 0 5px;
	width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal; 
    line-height: normal; 
    font-weight: 400;
    margin: 0px
}

.header {
    @extend.container;
    padding: 14.4px 15px 14.4px 15px;
    display: flex;
    justify-content: space-between;
    

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 93px;
    }

    &__logo {
    }
}

.blue-logo {
    color: #2196F3;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.78px;
}

.dark-logo {
    color: #212121;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.78px;
}

.nav {

    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
    }


    .list {
        &__item { 
        }

        &__link {
            color: #212121;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.28px;
            &:hover {
                color: #2196F3;
                font-size: 14px;
                letter-spacing: 0.28px;
            }
        }

        .active {
            color: #2196F3;
        }
    }
}

.contact {
    
    &__list { 
    }
}

.list {

    &__item {

    }

    &__link {
        color: #757575;
        font-size: 14px;
        letter-spacing: 0.28px;
        transition: all 0.3s ease;
        &:hover,:focus {
            color: #2196F3;
            font-size: 14px;
            letter-spacing: 0.28px;
        }
    }
}

.main {
}

.solution-for-business {
    background: #2F303A;
    position: relative;
    padding: 200px 0px;
    z-index: 0;
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        z-index: 5;
    }

    &__title {
        color: #FFF;
        text-align: center;
        font-size: 44px;
        font-weight: 700;
        line-height: 60px; /* 136.364% */
        letter-spacing: 2.64px;
        text-transform: uppercase;
    }

    &__button {
        border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-family: "Roboto", sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px; /* 187.5% */
        letter-spacing: 0.96px;
        margin: 0 auto;
        display: block;
    }
}
.about {

    &__container {
    }
}
.article-card {
    @extend.container;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 94px;
    gap: 30px;
    &__item {
    }

    &__title {
        color: #212121;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #757575;
        font-size: 14px;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;
    }
}

.what-we-do {
    @extend.container;
    padding-bottom: 94px;
    &__title {
        color: #212121;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }

    &__lower-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        z-index: 1;
    }

    &__item {
        
    }
}
.section {

    &_what-we-do {
    }
}

.our-team {
    background: #F5F4FA;
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    padding-bottom: 94px;
    &__lower {
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
        flex-wrap: wrap;
        padding-top: 94px;
    }

    &__item {
        border-radius: 0px 0px 4px 4px;
        background: #FFF;
        /* material shadow v1 */
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    }

    &__image {
    }

    &__name {
        color: #212121;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.48px;
        padding: 30px 0px 10px 0px;
    }

    &__job {
        color: #757575;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.48px;
        padding-bottom: 30px;
    }
}

.main {

    &__button {
        background: #F5F4FA;
        color: #212121;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 162.5%;
        letter-spacing: 0.48px;    
        border-radius: 4px;
        padding: 6px 22px;
        transition: all 0.3s ease;
        &:hover {
            border-radius: 4px;
            background: #2196F3;
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px; /* 162.5% */
            letter-spacing: 0.48px;
            /* shadow-middle */
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }
    }
}
.on {

    &__focus:focus {
        border-radius: 4px;
        background: #2196F3;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px; /* 162.5% */
        letter-spacing: 0.48px;
        /* shadow-middle */
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
}


.main {
    width: 100%;
    &_filter {
        display: flex;
        justify-content: center;
        gap: 8px;
        padding-bottom: 50px;
    }

    &__container {
        
    }

    &__filling {
        
    }

    &__button {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 162.5%;
        letter-spacing: 0.48px;
        border-radius: 4px;
        padding: 6px 22px;
        background-color: #F5F4FA;
        color: #212121;
        transition: all 0.3s ease;
        &:hover{
            border-radius: 4px;
            background: #2196F3;        
            /* shadow-middle */
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }
    }
}
.filter {
}
.filling {
    @extend.container;
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        border: 1px solid #EEE;
        max-width: 370px;
    }

    &__link {
        display: inline-block;
    }

    &__img {
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 200%;
        letter-spacing: 1.08px;
        color: #212121;
        padding: 24px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 187.5%;
        letter-spacing: 0.48px;
        color: #757575;
        padding-left: 24px;
    }
}
.on {

    &__focus {
    }
}

.footer {

    &__container {
        background: #2F303A;
        padding: 60px 0px 60px 215px;
        width: 100%;
    }

    &__box {
    }

    &__logo {
        display: inline-block;
        margin-bottom: 28px;
    }
    .contact {
        display: flex;
        flex-direction: column;
		&__list {
            font-style: normal;
		}
}


.white-logo {
    color: #FFF;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.78px;
}

.contact {

    &__list {
        
    }
}
.footer_list {
    
    &_disabled {
        color: #FFF;
    }

    &__item {
        transition: color 0.3s ease;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.14em;
        color: #FFF;
        letter-spacing: 0.42px;
    }

    &__link {
    }
}
}